body {
  margin: 0;
  min-height: 300px;
}

.logo {
  display: inline-flex;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 15px;
  float: left;
  width: 250;
  height: 100%;
}

.menu {
}

.menu li {
  display: inline;
}

.navigation-bar {
  width: 100%;
  float: left;
  background-color:#F5F5F5
}


